@(vehicleForm: Form[Vehicle])

@import helper._

@main("Add new vehicle") {
    
    
    <h1>Add a new vehicle</h1>
    
    @form(routes.VehicleController.newVehicle) {
        
        @inputText(vehicleForm("technumber"))
        @inputText(vehicleForm("vType"))
        @inputText(vehicleForm("producer"))
        @inputText(vehicleForm("vModel"))
        @inputText(vehicleForm("stolen"))
        @inputText(vehicleForm("wanted")) 
        
        <input type="submit" value="Create">
        
    }
    
}